<%- include ('_layouts/adminheader') -%>
<br>
<br>
<br>
<br>
<h2 class="page-title">Categories</h2>
<!--
<a href="categories/add-category" class="btn btn-primary">Add a new category</a>-->
<br><br>
<% if(errors){ %>
    <% errors.forEach(function(error){ %>
      <div class="alert alert-danger">
        <%= error.msg %>
      </div>
   <% }); %>
  <% } %>
<% if (locals.messages) { %>
    <h1 style="color: brown;"> <b> <%= messages.danger %></b></h1>
          <% } %>
          <% if (locals.messages) { %>
  
            <h1 style="color:brown;"> <b>      <%= messages.success %> </b></h1>
                <% } %>

<table class="table table-striped">
   <thead>
       <tr>
           <th>Category</th>
       </thead> 
        <tbody>
            <%categories.forEach(function(cat){%>
                <tr>
                    <td><%=cat.title%></td>
                   
                
                    <td><a  onclick = "if (! confirm('Are you sure?')) { return false; }" href="categories/delete-category/<%=cat._id%>">Delete</a></td>
                </tr>
<% }); %>
            </tbody>
            </table>